// Variables & functions
@import "functions";
@import "variables";
// base & layot
@import "base";

// colors
@import "colors";

// components( button, card, navbar )
@import "components/card";
@import "components/button";

.container {
  max-width: 1200;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
